<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="utf-8">
    <title>Moco Test</title>

    <!--[if lt IE 9]>
    <script>
        document.createElement('section');
        document.createElement('header');
        document.createElement('footer');
    </script>
    <![endif]-->
</head>

<body class="pui">
<div id="amp-blocker"></div>
<div class="container">

    <!--  main-content  -->
    <section class="main-content main-content-app">
        <script type="text/javascript" src="/javascript/alert.js"></script>
    </section>
</div>

</body>
</html>